body,html{
    height: 100%;
    margin: 0;
    min-height: 300px;
    min-width: 550px;
    overscroll-behavior: none; /*Likely only works in Chrome*/
}
.bg{
    background-image: url('Images/morning-HQ.jpg');
    height: 100%;
    width: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
/* html{
    width:100%;
}
button{
    outline: none;
}

body{
    width:98%;  
    height:100%;
    /*background-color: #fcfcfc;*/
    /*background-position: center ;// would screw up the photo*/
/*    background-position: center center;
    background-size: 300vh;
    background-image: url("Images/rice-image-1.jpg");
}

.servery-info {
    /*display: block;*/
/*    height: 75vh;
    min-width: 30vw;
    width: 50vw;
    position: center;
    display: grid;
}
.food-and-headings{
    width: 35vw;
    grid-column: 2;
}
.servery-info-head{
    opacity: 1;
    color: black;
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
}
#servery-message{
    text-align: center;
    font-size: 2vw;
    margin: 0vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-weight: bold;
}
#list-of-foods{
    margin-left: 1vw;
    font-size: 1.5vw;
}
p{
    margin: 2vh;
    font-weight: bold;
}

.boxed {
    border: 5px;
    background-color: rgba(255,255,255, .5);
    background-blend-mode: soft-light;
    /*opacity: .3;*/
/*    box-shadow: 5px 5px rgba(0,0,0,0.1) ;
    margin-left: auto;
    margin-right: auto;
}

.btn-group{
    width: 15vw; /*Sets width of Buttons*/
/*}
.btn-group button {
    font-size: 2.5vw;
    
    height: 12.5vh;
    grid-column: 1;
    background-color: #f35ef8; /* Pink background */
 /*   border: 1px solid black; /* Black border */
/*    color: white; /* White text */
  /*  padding: 10px 24px; /* Some padding */
/*    cursor: pointer; /* Pointer/hand icon */
/*    width: 100%; /* Set a width if needed */
/*    display: block; /* Make the buttons appear below each other */
/*}
/*
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
/*}

/* Add a background color on hover */
/*.btn-group button:hover {
    background-color: #f52c2c;
}

.servery-buttons{
    background: #f52c2c;
}
 */
