html{
    width:100%;
}

body{
    width:98%;  
    height:100%;
    padding-top: 0px;
    /*background-color: #fcfcfc;*/
    /*background-position: center ;// would screw up the photo*/
    background-position: center center;
    background-size: 300vh;
    background-image: url("Images/rice-image-1.jpg");
}

h1{
    color: blue;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 20px;
}

.boxed {
    border: 5px;
    background-color: rgba(255,255,255, .5);
    background-blend-mode: soft-light;
    /*opacity: .3;*/
    box-shadow: 5px 5px rgba(0,0,0,0.1) ;
    margin-left: auto;
    margin-right: auto;
}

.servery-info {
    /*display: block;*/
    height: 65vh;
    min-width: 30vh;
    width: 45vw;
    position: center;
    display: grid;

}

.servery-choices{
    background-color: rgba(102,51,153)
}
.btn-group button {
    font-size: 3vh;
    height: 10.83vh;
    grid-column: 1;
    background-color: #f35ef8; /* Pink background */
    border: 1px solid black; /* Black border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #f52c2c;
}
.food-and-headings{
    grid-column: 2;
}
.servery-buttons{
    background: #f52c2c;
}

.servery-info-head{
    opacity: 1;
    color: black;
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 30px;
    color: blue;
}

